<template>
    <div>
        <!--&lt;!&ndash; ======= Top Bar ======= &ndash;&gt;-->
        <!--<section id="topbar" class="d-none d-lg-block">-->
            <!--<div class="container d-flex">-->
                <!--<div class="contact-info mr-auto">-->
                    <!--<i class="icofont-envelope"></i><a href="mailto:contact@example.com">info@msaniii.com</a>-->
                    <!--<i class="icofont-phone"></i> +254 706 679919-->
                <!--</div>-->
                <!--<div class="social-links">-->
                    <!--<a href="#" class="twitter"><i class="icofont-twitter"></i></a>-->
                    <!--<a href="#" class="facebook"><i class="icofont-facebook"></i></a>-->
                    <!--<a href="#" class="instagram"><i class="icofont-instagram"></i></a>-->
                    <!--<a href="#" class="skype"><i class="icofont-skype"></i></a>-->
                    <!--<a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->

        <!-- ======= Header ======= -->
        <header id="header">
            <div class="container d-flex">

                <div class="logo mr-auto">
                    <!--<h1 class="text-light"><a href="index.html">Flattern</a></h1>-->
                    <!-- Uncomment below if you prefer to use an image logo -->
                     <a href="/"><img src="/images/logo.png" alt="" class="img-fluid"></a>
                </div>

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
<!--                        <li class=""><a href="/">MSANIII FOR ARTISTS</a></li>-->
                        <li><a href="/artists">CREATORS</a></li>
                        <li class="drop-down "><a href="#">RESOURCES</a>
                            <ul>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/faq">FAQs</a></li>
                                <li><a href="/Privacy policy draft.pdf" target="_blank">Privacy policy</a></li>
                                <li><a href="/Msaniii Terms of Use-Final.pdf" target="_blank">Terms & conditions</a></li>
                            </ul>
                        </li>
                        <li v-if="auth==='yes'">
                            <a href="/profile/photo" class="btn-get-started"><i class="fa fa-user"></i> Account
<!--                                <button class="btn btn-warning  get-started-btn" type="button" >-->
<!--                                   <i class="fa fa-user"></i> My profile-->
<!--                                </button>-->
                            </a>
                        </li>
                    </ul>
                </nav><!-- .nav-menu -->


            </div>
        </header><!-- End Header -->
        <router-view></router-view>

    </div>

</template>
<script>
    export default {
        data() {
            return {
                name:'',
                auth:'',
            }
        },
        created(){
            // this.ClearSession();
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
            }
        },
        methods: {
            ClearSession(){
                $(document).ready(function() {
                    if ($.cookie('pop') == null) {
                        localStorage.removeItem('token');
                        localStorage.removeItem('auth');
                        $.cookie('pop', '1');
                    }
                });
            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.$router.push({name: 'login'});

            },
        }
    }
</script>
