<template>


        <div class="sidebar mb-2">
            <router-link to="/profile/photo" class="active" href="#">DASHBOARD</router-link>
            <router-link to="/profile/photo" href="#"  :class="{ 'bg-w': $route.path == '/profile/photo' }">MY PROFILE</router-link>
            <router-link to="/profile/track" href="#" :class="{ 'bg-w': $route.path == '/profile/track' }">TRACK ACCOUNT</router-link>
            <router-link to="/account" :class="{ 'bg-w': $route.path == '/account' }" href="#">WITHDRAW</router-link>
            <a @click="logout()" href="#">LOGOUT</a>
        </div>


</template>
<script>

    export default {
        data(){
            return {
                wallet:'',
            }
        },
        created() {
            // this.loaddata();
        },
        methods: {
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.$router.push({name: 'login'});
            },

        }
    }
</script>
