
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.get-started-btn {
    /*margin-left: 25px;*/
    background: #fdd111;
    color: black;
    border-radius: 4px;
    /*padding: 8px 25px;*/
    white-space: nowrap;
    transition: 0.3s;
    /*font-size: 12px;*/
    display: inline-block;
    border: 1px solid #cdd1d9;
}
.rounded-circle{

}





.modal-dialog2 {
    max-width: 800px;
    margin: 30px auto;
}



.modal-body2 {
    position:relative;
    padding:0px;
}
.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    /*font-size:2rem;*/
    font-weight: normal;
    color:#fff;
    opacity:1;
}
/*.card-profile {*/
/*    !*width: 350px;*!*/
/*    height: auto;*/
/*    background: #fefefe;*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*}*/
/*.card img {*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/
/*.top-content {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 250px;*/
/*    display: flex;*/
/*    border-radius: 0 0 8% 8%;*/
/*}*/
/*.top-bar {*/
/*    position: absolute;*/
/*    padding: 20px 15px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 90%;*/
/*}*/
/*.top-icon {*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    cursor: pointer;*/
/*    color: #fff;*/
/*    font-size: 30px;*/
/*    -webkit-text-stroke: 0.5px #000;*/
/*}*/
/*.mid-content {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*.mid-content .info {*/
/*    position: absolute;*/
/*    padding: 20px 0 10px 0;*/
/*    top: 35%;*/
/*    width: 250px;*/
/*    height: 230px;*/
/*    text-align: center;*/
/*    z-index: 100;*/
/*    background: #fff;*/
/*    border-radius: 10px;*/
/*    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);*/
/*    animation: anim 1s ease-in-out;*/
/*}*/
/*.info span {*/
/*    font-size: 15px;*/
/*    font-weight: 500;*/
/*    color: #b6b7b8;*/
/*}*/
/*.info p {*/
/*    font-size: 15px;*/
/*    font-weight: 500;*/
/*    margin-top: 10px;*/
/*    padding: 0 10px;*/
/*}*/
/*.follow-info p {*/
/*    margin: 0 !important;*/
/*    color: #fdd111;*/
/*    font-size: 14px;*/
/*    font-weight: 700;*/
/*}*/
/*.bottom-content {*/
/*    margin-top: 200px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*.bottom-content button.hire {*/
/*    width: 100%;*/
/*    font-size: 15px;*/
/*    margin-top: 10px;*/
/*    background-color: #fdd111;*/
/*    padding: 12px 0;*/
/*    font-weight: 600;*/
/*    color: #fff;*/
/*    border: unset;*/
/*    cursor: pointer;*/
/*}*/
/*.follow-info {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    margin-top: 15px;*/
/*    border-top: 1px solid #eee;*/
/*    padding: 8px 0;*/
/*}*/
/*button.follow {*/
/*    font-size: 15px;*/
/*    margin-top: 15px;*/
/*    color: #4b00ff;*/
/*    padding: 8px 30px;*/
/*    background: transparent;*/
/*    border: 1px solid;*/
/*    font-weight: 700;*/
/*    border-radius: 20px;*/
/*    cursor: pointer;*/
/*}*/
/*@keyframes anim {*/
/*    0% {*/
/*        top: -1000px;*/
/*    }*/
/*    100% {*/
/*        top: 35%;*/
/*    }*/
/*}*/

/*.avatar {*/
/*    !*!*vertical-align: middle;*!*!*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*border-radius: 50%;*!*/
/*}*/
/*.get-started-btn {*/
/*    margin-left: 25px;*/
/*    background: #fdd111;*/
/*    color: black;*/
/*    border-radius: 4px;*/
/*    padding: 8px 25px;*/
/*    white-space: nowrap;*/
/*    transition: 0.3s;*/
/*    font-size: 12px;*/
/*    display: inline-block;*/
/*    border: 1px solid #cdd1d9;*/
/*}*/
/*.get-started-btn:hover {*/
/*    background: #3670FF;*/
/*    color: #fff;*/
/*    border-color: #3670FF;*/
/*}*/
/*.card{*/
/*    border-radius: 25px;*/
/*}*/



/*.profile-head {*/
/*    transform: translateY(5rem)*/
/*}*/

/*.cover {*/
/*    !*background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);*!*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    object-fit: cover;*/
/*}*/


