.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 70%;
    overflow: auto;
    /*font-size: 13px;*/
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #47b2e4;
    color: white;
}
.sidebar a.bg-w{
    background-color: #fdd111;
    color: white;
}
.sidebar a:hover:not(.active) {
    background-color: #fdd111;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.image-content{
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
    width: 100%;
    /*opacity: 0.5;*/
    background-size: cover;
}
