/*img {width:100%;}*/
.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    /*margin-top: 40%;*/
    border-radius: 0px;
}

.mpesaModal{
    height: 200px;
    background-image: url("/images/mpesa2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    border-radius: 25px;
}
.photo{
    /*height: 200px;*/

}









/*.card {*/
    /*border: none;*/
    /*border-radius: 10px;*/
    /*width: 275px;*/
    /*margin-top: 20%*/
/*}*/

.fa-ellipsis-v {
    /*font-size: 16px;*/
    color: #C2C2C4;
    margin-top: 6px;
    cursor: pointer
}



.card-bottom {
    background: #3E454D;
    border-radius: 6px
}

.flex-column2 {
    color: #adb5bd;
    /*font-size: 16px*/
}

.flex-column p {
    letter-spacing: 1px;
    /*font-size: 18px*/
}

.btn-secondary {
    height: 40px !important;
    margin-top: 3px
}

.btn-secondary:focus {
    box-shadow: none
}


