<template>
    <div>
        <section id="about-us" class="about-us">

            <div class="container">

                <div class="row no-gutters justify-content-center">
                    <!--<div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>-->
                    <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                        <div class=" d-flex flex-column justify-content-center">
                            <h3 data-aos="fade-up">MSANIII FOR ARTISTS</h3>
                            <p data-aos="fade-up">
                                MSANIII is a digital service that allows creators to directly monetize
                                their art through their audiences. With a MSANIII account, creators can
                                crowdfund, track their income and withdraw money instantly onto their mpesa
                                accounts.
                            </p>
                            <hr>
                            <div class="row justify-content-center">
                                <div class="col-sm-8 ">
                                    <div class="d-flex">
                                        <div class="text-center mr-5 "><a href="/login" class="btn-get-started">SIGN IN <i class="fa fa-sign-in ml-2"></i></a></div>
                                        <div class="text-center mr-5"><a href="/register" class="btn-get-started">SIGN UP <i class="fa fa-sign-in ml-2"></i></a></div>
                                        <div class="text-center"><a href="/login" class="btn-get-started">FAQs <i class="fa fa-sign-in ml-2"></i></a></div>
                                    </div>

                                </div>
                            </div>
<!--                            <div class="row">-->

<!--                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">-->
<!--                                    <i class="bx bx-images"></i>-->
<!--                                    <h4>Msaniii</h4>-->
<!--                                    <p>Subscribe to gain access.</p>-->
<!--                                </div>-->
<!--                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">-->
<!--                                    <i class="bx bx-money"></i>-->
<!--                                    <h4>Subscription Fee</h4>-->
<!--                                    <h2>Ksh . <span class="text-success">420.00</span></h2>-->
<!--                                </div>-->
<!--                            </div>-->
                            <hr>
                            <div class="row justify-content-center">
                                <div class="sidebar-item search-form col-sm-12 ">
                                    <form v-on:submit.prevent="searchArtistRandomly()">
                                        <input type="text" v-model="message.keyword" placeholder="Search for an artist" required>
                                        <button type="submit"><i class="icofont-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>
                <div class="muzieknootjes">
                    <div class="noot-1">
                        &#9835; &#9833;
                    </div>
                    <div class="noot-2">
                        &#9833;
                    </div>
                    <div class="noot-3">
                        &#9839; &#9834;
                    </div>
                    <div class="noot-4">
                        &#9834;
                    </div>
                </div>
            </div>
        </section><!-- End About Us Section -->
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {

        },
        methods: {
            searchArtistRandomly(){
                this.$router.push({name: 'artist_search',params:{id:this.message.keyword}});
            }

        }
    }
</script>
