<template>
    <div>
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Artists</h2>
                    <div class="sidebar-item search-form">
                    <form action="#">
                        <input type="text"  v-model="message.filterval" v-on:keyup="filter()" placeholder="Filter artists">
                        <button type="submit"><i class="icofont-filter"></i></button>
                    </form>
                    </div>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Artists</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Our Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container">

                <!--<div class="section-title" data-aos="fade-up">-->
                    <!--<h2>Our <strong>Team</strong></h2>-->
                    <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
                <!--</div>-->

                <div class="row">

                    <div class="col-sm-3  " v-for="data in list">
                        <div class="member" data-aos="fade-up">
                            <div class="member-img">
                                <!--<img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">-->
                                    <img v-if="data.photo_url==='' || data.photo_url===null" src="/images/logo2.png" class="img-fluid image-content" alt="">
                                    <img v-else :src="proxyUrl+'storage/Photos/'+data.photo_url" class="img-fluid image-content" alt="">
                                <div class="social">
                                    <a :href="data.twitter" target="_blank"><i class="icofont-twitter"></i></a>
                                    <a :href="data.facebook" target="_blank"><i class="icofont-facebook"></i></a>
                                    <a :href="data.instagram" target="_blank"><i class="icofont-instagram"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <router-link class="artist-name"  :to="{name:'artist_work',params:{id:data.uuid}}">{{data.user_name}}</router-link>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Our Team Section -->
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                list:[],
                list2:[],
                message:{},
            }
        },
        created() {
                this.artists();
        },
        methods: {
            artists() {
                let uri =this.proxyUrl+`api/auth/artists`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.list=response.data.artists;
                    this.list2=response.data.artists;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.list=this.list2;
                }else{
                    let ads =  this.list2.filter(function(product) {
                        return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.user_name.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.list=ads;
                }
            },


        }
    }
</script>
