<template>
    <div>
        <section id="about-us" class="about-us">

            <div class="container">

                <div class="row no-gutters justify-content-center">
                    <!--<div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>-->
                    <div class="col-xl-8">
                            <h2 class="text-center">FAQS</h2>
                            <div data-aos="fade-up">
                             <h3>What is MSANIII?</h3>
                                <p>MSANIII is a digital solution for creators aimed at making the creative arts sustainable.</p>
                                <h3>Who uses MSANIII?</h3>
                                <p>Anyone with an audience. These are creators who would like to monetize their art both online and on the ground.</p>
                                <h3>How can my audience send me money?</h3>
                                <p>We accept M-PESA payments at the moment and plan on allowing other payment options soon. The
                                    audiences only need to input their number and a prompt will appear on their phone requesting the M-
                                    PESA pin.</p>
                                <h3>How do I get paid?</h3>
                                <p>Payments are directly transferred to your M-pesa number once you withdraw from the platform.</p>
                                <h3>Is there a minimum withdrawal amount?</h3>
                                <p>Yes, you can only withdraw amounts over Ksh. 1000/- from your MSANIII account.</p>
                                <h3>Does one pay to use MSANIII?</h3>
                                <p>We don't charge a monthly fee. However, we charge a 7% transaction fee and creators keep 93% of the
                                    earnings. We only make money when you do.</p>
                                <h3>Is MSANIII safe and reliable?</h3>
                                <p>We take security seriously. Please have a look at our Privacy Policy for more on how we protect your
                                    data.</p>
                                <h3>How is this different from other platforms for creators?</h3>
                                <p>MSANIII is dedicated to powering the creative process and therefore improving the quality of art
                                    consumed. Our system allows audiences to show appreciation for good art; while maintaining the
                                    creators’ privacy. Additionally, we have made it a priority to be accessible to local audiences through
                                    mpesa.</p>
                                <h3>How do I contact MSANIII?</h3>
                                <p>You can find us on the <a href="/contact">contact us</a> page.</p>

                            </div>
                    </div>
                </div>
                <div class="muzieknootjes">
                    <div class="noot-1">
                        &#9835; &#9833;
                    </div>
                    <div class="noot-2">
                        &#9833;
                    </div>
                    <div class="noot-3">
                        &#9839; &#9834;
                    </div>
                    <div class="noot-4">
                        &#9834;
                    </div>
                </div>
            </div>
        </section><!-- End About Us Section -->
    </div>
</template>
