<template>
    <div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="/images/logo.png" id="icon" alt="User Icon" />
                    <hr>
                    <h4>Forget password</h4>
                </div>

                <!-- Login Form -->
                <form v-on:submit.prevent="login()">
                    <input type="email" v-model="message.email" id="login" class="fadeIn second login-text" name="login" placeholder="Enter email address" required>
                    <input type="submit" class="fadeIn fourth" value="Submit">
                </form>
                <div id="formFooter">
                    <router-link to="/login" class="underlineHover" href="#">Back to login</router-link>
                </div>

            </div>
        </div>
        <div class="muzieknootjes">
            <div class="noot-1">
                &#9835; &#9833;
            </div>
            <div class="noot-2">
                &#9833;
            </div>
            <div class="noot-3">
                &#9839; &#9834;
            </div>
            <div class="noot-4">
                &#9834;
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {
            if(localStorage.getItem('auth')==='yes'){
                this.$router.push({name: 'profile_photo'});
                this.$toast.open({message: 'You are still signed in', type: 'success', position: 'top'});
            }

        },
        methods: {
            login(){
                $('.wrapper').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/forget`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.wrapper').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.wrapper').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },

        }
    }
</script>
