<template>
<div>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active gradient-home" >
                    <div class="carousel-container">
                        <div class="carousel-content animate__animated animate__fadeInUp mb-5">
                            <h1 class="text-right">'POWERING ARTISTRY'</h1>
                            <p class="text-right">MSANIII is a digital solution for artists by artists made to connect them to their audiences</p>

                            <div class="d-flex justify-content-center mt-5">
                                <div class="text-center"><router-link to="/login" href="#" class="btn-get-started">Sign in</router-link></div>
                                <div class="text-center"><router-link to="/register" href="#" class="btn-get-started">Sign up</router-link></div>
                                <div class="text-center"><router-link to="/faq" href="#" class="btn-get-started">FAQs</router-link></div>
                            </div>

                            <div class="row justify-content-center mt-5">
                                <div class="sidebar-item search-form col-sm-6 ">
                                    <form v-on:submit.prevent="searchArtistRandomly()">
                                        <input type="text" v-model="message.keyword" placeholder="Search for an artist" required>
                                        <button type="submit"><i class="icofont-search"></i></button>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Hero -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center ">
                    <h3>WHAT IS MSANIII </h3>
                    <p class="text-justify"> MSANIII is a digital solution for artists by artists made to connect them to their audiences.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center ">
                    <h3>WHO USES MSANIII </h3>
                    <p class="text-justify"> MSANIII is available to artists, creators  and their audiences. These include musicians, gamers, digital content creators and many more..</p>
                </div>
            </div>
            <div class="row float-right">
                <div class="col-sm-6  ">

                </div>

                <div class="col-sm-6  ">
                    <h3>HOW IT WORKS. </h3>
                    <p class="text-justify"> MSANIII hosts a community of artists and creators.</p>
                    <p class="text-justify"> You can look up your favourites creators and make a direct contribution towards the sustainability of their craft. Click on their profile to get started. </p>
                </div>
            </div>
            <div class="muzieknootjes float-left">
                <div class="noot-1">
                    &#9835; &#9833;
                </div>
                <div class="noot-2">
                    &#9833;
                </div>
                <div class="noot-3">
                    &#9839; &#9834;
                </div>
                <div class="noot-4">
                    &#9834;
                </div>
            </div>
        </div>
    </section><!-- End Cta Section -->
</div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {

        },
        methods: {
            searchArtistRandomly(){
                this.$router.push({name: 'artist_search',params:{id:this.message.keyword}});
            }

        }
    }
</script>
