<template>
    <div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="/images/logo.png" id="icon" alt="User Icon" />
                    <hr>
                    <h4>Sign in</h4>
                </div>

                <!-- Login Form -->
                <form v-on:submit.prevent="login()">
                    <input type="email" v-model="message.email" id="login" class="fadeIn second login-text" name="login" placeholder="Email" required>
                    <input type="password" v-model="message.password" id="password" class="fadeIn third login-text" name="login" placeholder="Password" required>
                    <input type="submit" class="fadeIn fourth" value="Sign in">
                </form>
                <router-link to="/forget" class="underlineHover" href="#">Forget password?</router-link>
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <router-link to="/register" class="underlineHover" href="#">Create Account</router-link>
                </div>

            </div>
        </div>
        <div class="muzieknootjes">
            <div class="noot-1">
                &#9835; &#9833;
            </div>
            <div class="noot-2">
                &#9833;
            </div>
            <div class="noot-3">
                &#9839; &#9834;
            </div>
            <div class="noot-4">
                &#9834;
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {
            if(localStorage.getItem('auth')==='yes'){
                this.$router.push({name: 'profile_photo'});
                this.$toast.open({message: 'You are still signed in', type: 'success', position: 'top'});
            }

        },
        methods: {
            login(){
                $('.wrapper').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.wrapper').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='ACTIVE') {
                            if (response.data.user.user_type === 'artist') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('auth', 'yes');
                                if(response.data.user.password_changed==='NO'){
                                    this.$router.push({name: 'password'});
                                    this.$toast.open({message: 'Please update your password', type: 'success', position: 'top'});
                                }else {
                                    this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                                    this.$router.push({name: 'profile_photo'});
                                }

                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.wrapper').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },

        }
    }
</script>
