<template>
    <div>

                <div class="row justify-content-center ">
<!--                    <div class="col-md-4 py-5 bg-primary text-white text-center ">-->
<!--                        <div class=" ">-->
<!--                            <div class="card-body">-->
<!--                                <img src="/images/logo.png" style="width:30%">-->
<!--                                <h4 class="py-3">Sign up</h4>-->
<!--                                <p>MSANIII is available to artists, creators and their audiences. These include musicians, gamers, digital content creators and many more.-->
<!--                                </p>-->
<!--                                <p>Already have account? <router-link to="/login">Sign in</router-link></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-md-6 py-5 testimonial">
                        <form-wizard  :title="null" :subtitle="null" @on-complete="onComplete" finish-button-text="Sign up"
                                      color="#ffd111">
                            <tab-content title="Personal details">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input id="Full Name" v-model="message.name" name="Full Name" placeholder="Full Name" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email"  v-model="message.email" class="form-control"  id="inputEmail4" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input id="Mobile No." v-model="message.user_name" name="Mobile No." placeholder="Username (Will appear to fans)" class="form-control" required="required" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <v-select v-model="message.gender"
                                            class="style-chooser"
                                            placeholder="Select gender"
                                            :options="['Male', 'Female', 'Transgender','Gender neutral','Non binary','Prefer not to say']"
                                        />

                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-group col-md-6">
                                        <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <v-select label="name" placeholder="Select your area of artistry"  v-model="message.work_area" :options="work_area" :reduce="work_area => work_area.name" multiple ></v-select>
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="form-group col-md-12">
                                        <textarea id="comment" name="comment" v-model="message.description"  rows="5" class="form-control textarea" placeholder="Brief description about yourself (Will appear to fans)" required></textarea>
                                    </div>
                                </div>

                            </tab-content>
                            <tab-content title="Social links">

                                <p class="text-center">Add social media profile links(optional)</p>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <input id="Full Name" v-model="message.facebook" name="Full Name" placeholder="Facebook link" class="form-control" type="text" >
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input id="Full Name" v-model="message.twitter" name="Full Name" placeholder="Twitter link" class="form-control" type="text" >
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input id="Full Name" v-model="message.instagram" name="Full Name" placeholder="Instagram link" class="form-control" type="text" >
                                    </div>
                                </div>
                                <p class="text-center">Add Other work Links <a class="fa fa-plus ml-2 mr-2" href="#" data-toggle="modal" data-target="#addlinks">Add Link</a> </p>
                                <div class="row">
                                <table class="table table-bordered table-sm">
                                    <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Title</td>
                                        <td>URl</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(data,index) in message.links">
                                        <td>{{index+1}}</td>
                                        <td>{{data.title}}</td>
                                        <td>{{data.url}}</td>
                                        <td><a class="fa fa-trash text-danger" v-on:click="RemoveLink(index)"></a></td>
                                    </tr>
                                    </tbody>

                                </table>
                                </div>
                            </tab-content>
                            <tab-content title="Last step">
                                <!--<p class="text-center">Monthly Subscription Fee (Ksh 2.00)</p>-->
                                <!--<div class="form-row">-->
                                    <!--<div class="form-group col-md-6">-->
                                        <!--<input id="Full Name" v-model="message.mpesa_ref" name="Full Name" placeholder="Enter M-pesa Code" class="form-control" type="text" required>-->
                                    <!--</div>-->
                                    <!--<div class="form-group col-md-6">-->
                                        <!--<a class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal">Get M-pesa Code</a>-->
                                    <!--</div>-->
                                <!--</div>-->


                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input id="Full Name" name="Full Name" v-model="message.password" placeholder="Password" class="form-control" type="password">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="password" v-model="message.repass" class="form-control" id="inputEmail4" placeholder="Confirm password">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="terms"  required>
                                                <label class="form-check-label" for="invalidCheck2" >
                                                    <a href="/Msaniii Terms of Use-Final.pdf" target="_blank">By clicking Submit, you agree to our Terms & Conditions</a>
                                                    <p v-if="checked==='yes'" class="text-danger">You must agree to terms and conditions <i class="fa fa-check ml-1"></i></p>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </tab-content>
                        </form-wizard>
                        <div class="muzieknootjes">
                            <div class="noot-1">
                                &#9835; &#9833;
                            </div>
                            <div class="noot-2">
                                &#9833;
                            </div>
                            <div class="noot-3">
                                &#9839; &#9834;
                            </div>
                            <div class="noot-4">
                                &#9834;
                            </div>
                        </div>

                    </div>
                </div>

        <div class="modal fade" id="addlinks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-center">Add previous work links</h4>
                        <hr>
                        <div class="form-group col-md-12">
                            <input id="Full Name" v-model="link_data.title" name="Full Name" placeholder="Title of the work" class="form-control" type="text" required>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text"  v-model="link_data.url" class="form-control"   placeholder="Work URL E.g Youtube URL etc" required>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <a class="btn btn-warning btn-block" v-on:click="SaveLinks()">Add Link</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="mpesaModal">

                    </div>
                    <div class="modal-body">
                        <p class="text-center">Enter M-pesa Phone number to pay.  <span> Ksh {{formatPrice(message.amount)}}</span></p>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-8">
                                <vue-tel-input v-model="message.phone2" v-bind="bindProps"></vue-tel-input>
                            </div>
                        </div>
                        <div class="container mt-1" v-if="showAlert==='true'">
                            <div class="alert alert-info" role="alert">
                                <h6 class="alert-heading text-center">Success! Enter M-pesa Pin</h6>
                                <p class="text-center">Trying to detect payment. Please just wait.... <i class="fa  fa-2x fa-spinner fa-spin" aria-hidden="true"></i></p>
                                <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                            </div>
                        </div>
                        <div class="container mt-1" v-if="showAlert==='success'">
                            <div class="alert alert-success" role="alert">
                                <h6 class="alert-heading text-center">{{message.mpesa_ref}} <i class="fa fa-check"></i></h6>
                                <p class="text-center">Payment detected successfully.</p>
                                <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                            </div>
                        </div>
                        <div class="container mt-1" v-if="showAlert==='error'">
                            <div class="alert alert-danger" role="alert">
                                <h6 class="alert-heading text-center">Cancelled <i class="fa fa-check"></i></h6>
                                <p class="text-center">Unfortunately!User cancelled payment.</p>
                                <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-8">
                                <a class="btn btn-warning btn-block" v-on:click="initiateSubscriptionSTK()">Pay now</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-center">Activate Account?</h4>
                        <hr>
                        <h5>Account with Email <span>{{message.email}} already exist</span></h5>
                        <p>NB:Please activate your account if you wish to.You will still access your data.</p>

                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <a class="btn btn-warning btn-block" v-on:click="activateAccount()">Yes,Activate</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                work_area:[
                    {name:'Songwriter '},
                    {name:'Producer'},
                    {name:'Instrumentalist '},
                    {name:'Singer '},
                    {name:'Rapper '},
                    {name:'Digital content creator '},
                    {name:'Choreographer '},
                    {name:'Photographer '},
                    {name:'Cinematographer '},
                    {name:'Literary arts '},
                    {name:'Visual arts '},
                    {name:'Others '},
                ],
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    require:true,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                proxyUrl: process.env.MIX_APP_URL,
                message:{links:[]},
                showAlert:'false',
                link_data:{},
                checked:'no'

            }
        },
        created() {
            if(localStorage.getItem('auth')==='yes'){
                this.$router.push({name: 'profile_photo'});
                this.$toast.open({message: 'You are still signed in', type: 'success', position: 'top'});
            }
        },
        methods: {
            onComplete: function () {
                if (document.getElementById('terms').checked) {
                    this.register();
                }else{
                    this.checked='yes';
                }

            },
            RemoveLink(id){
                this.message.links.splice(id, 1);
            },
            SaveLinks(){
                if(this.link_data.title==='' || this.link_data.url==='' || this.link_data.title==null || this.link_data.url==null){
                    this.$toast.open({message: 'All fields mut be entered', type: 'error', position: 'top'});
                }else{
                    this.message.links.push({'title':this.link_data.title,'url':this.link_data.url});
                    this.link_data={};
                }

            },
            register(){
                this.calcTime();
                $('.testimonial').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/signup`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.testimonial').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='ACTIVE') {
                            if (response.data.user.user_type === 'artist') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('auth', 'yes');
                                this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                                this.$router.push({name: 'profile_photo'});
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        if(response.data.active==='NO'){
                            this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                            $("#delete").modal("show");
                        }else{
                            this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                        }

                    }
                }).catch(error => {
                    $('.testimonial').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            activateAccount(){
                this.message.amount='2';
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/activateAccount/${this.message.email}`;
                this.axios.get(uri).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        $("#delete").modal("hide");
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            initiateSubscriptionSTK() {
                this.message.amount='2';
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/initiateSubscriptionSTK`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.showAlert='true';
                        this.message.CheckoutRequestID=response.data.CheckoutRequestID;
                        this.message.MerchantRequestID=response.data.MerchantRequestID;
                         this.interval = setInterval(() => this.checkSubscriptionStkPayment(), 5000);
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            checkSubscriptionStkPayment(){
                let uri =this.proxyUrl+`api/auth/checkSubscriptionStkPayment`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                        if(response.data.callback){
                            this.message.mpesa_ref=response.data.mpesa_ref;
                            this.showAlert='success';
                            clearInterval(this.interval)
                            setTimeout(() => {   $("#exampleModal").modal("hide"); }, 4000);
                        }else{
                            this.showAlert='error';
                        }

                    }
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            calcTime() {
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.message.from_date=dateTime;
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
