<template>
    <div>
        <div class="container">

            <div class="row py-5 px-4">
                <div class="col-md-8 mx-auto cont">
                    <!-- Profile widget -->
                    <div class="bg-white shadow rounded overflow-hidden">
<!--                        <div class="px-4 pt-0 pb-4 cover" v-bind:style="{ backgroundImage: 'url(' + proxyUrl+'storage/Photos/'+message.bg_url + ')' }">-->
                        <div class="px-4 pt-0 pb-4 cover" style="background-color:#393635;">
                            <div class="media align-items-end profile-head">
                                <div class="profile mr-3">
                                    <img v-if="message.photo_url==='' || message.photo_url===null" src="/images/logo2.png" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                    <img v-else :src="proxyUrl+'storage/Photos/'+message.photo_url" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                    <a v-if="message.status==='ACTIVE'" href="#" class="btn btn-success  btn-block" data-toggle="modal" data-target="#exampleModal">Send Money <i class="fa fa-money"></i></a></div>
                                <div class="media-body mb-5 text-white">
                                    <h4 class="mt-0 mb-0">{{message.user_name}}</h4>
                                    <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light p-4 d-flex justify-content-end text-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a :href="message.twitter"><i class="icofont-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a :href="message.instagram"><i class="icofont-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a :href="message.facebook"><i class="icofont-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="mb-0">Bio</h5>
                            <div class="p-4 rounded shadow-sm bg-light">
                                <p class=" mb-0">{{message.description}}</p>

                            </div>
                            <div class="mt-3 mb-3">
                                Copy MSANIII link <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Its hassle free. Support  '+message.user_name+' here'" :url="'https://www.msaniii.com/artist/'+message.uuid"  />
                                <a class="fa fa-copy text-primary" v-on:click="copyUrl()"></a>
                            </div>
                        </div>
                        <div class="py-4 px-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h5 class="mb-0">Recent Work</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                            </div>
                            <ul class="list-unstyled video-list-thumbs row">
                                <li class="col-lg-6 col-sm-4 col-xs-6" v-for="data in pageOfItems">
                                    <a :href="data.url" class="video-modal"  target="_blank" >
                                        <img src="/images/youtube.png" alt="Barca" class="img-responsive" height="130px" />
                                        <h2>{{data.title}}</h2>
                                        <span class="glyphicon glyphicon-play-circle"></span>
                                        <span class="duration">00:00</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <jw-pagination :items="links" @changePage="onChangePage" ></jw-pagination>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="mpesaModal">

                    </div>
                    <div class="modal-body">
                        <p class="text-center">You are about to send money to {{message.user_name}}</p>

                        <div class="row justify-content-center">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Enter phone number</label>
                                <vue-tel-input v-model="message.phone2" v-bind="bindProps"></vue-tel-input>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Enter amount</label>
                                <input type="number"  v-model="message.amount" class="form-control"  id="inputEmail4" placeholder="Amount Ksh." required>
                            </div>
                        </div>
                        <div class="container mt-1" v-if="showAlert==='true'">
                            <div class="alert alert-info" role="alert">
                                <h6 class="alert-heading text-center">Success! Enter M-pesa Pin</h6>
                                <p class="text-center">Trying to detect payment. Please just wait.... <i class="fa  fa-2x fa-spinner fa-spin" aria-hidden="true"></i></p>
                                <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                            </div>
                        </div>
                        <div class="container mt-1" v-if="showAlert==='success'">
                            <div class="alert alert-success" role="alert">
                                <h6 class="alert-heading text-center">{{message.mpesa_ref}} <i class="fa fa-check"></i></h6>
                                <p class="text-center">Payment detected successfully.</p>
                                <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                            </div>
                        </div>
                        <div class="container mt-1" v-if="showAlert==='error'">
                            <div class="alert alert-danger" role="alert">
                                <h6 class="alert-heading text-center">Cancelled <i class="fa fa-check"></i></h6>
                                <p class="text-center">Unfortunately!User cancelled payment.</p>
                                <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-12">
                                <a class="btn btn-warning btn-block" v-on:click="initiateDonationSTK()">Send Money</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog2" role="document">
                <div class="modal-content">
                    <div class="modal-body modal-body2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                         16:9 aspect ratio
                        <div class="embed-responsive embed-responsive-16by9">
<!--                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>-->
                            <iframe class="embed-responsive-item" :src="url" id="video"  allowscriptaccess="always" allow="autoplay">
                            </iframe>

                        </div>


                    </div>

                </div>
            </div>
        </div>



    </div>

</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    require:true,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                proxyUrl: process.env.MIX_APP_URL,
                links:[],
                message:{amount:'0'},
                showAlert:'false',
                pageOfItems:[],
                url:'https://www.youtube.com/embed/tgbNymZ7vqY',
            }
        },
        created() {
                this.artist();
        },
        methods: {
            myModal(url){
                this.url=url;
                $('#myModal').modal('show');
            },
            initiateDonationSTK(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/initiateDonationSTK`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.showAlert='true';
                        this.message.CheckoutRequestID=response.data.CheckoutRequestID;
                        this.message.MerchantRequestID=response.data.MerchantRequestID;
                        this.interval = setInterval(() => this.checkSubscriptionStkPayment(), 5000);
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            checkSubscriptionStkPayment(){
                let uri =this.proxyUrl+`api/auth/checkSubscriptionStkPayment`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                        if(response.data.callback){
                            this.message.mpesa_ref=response.data.mpesa_ref;
                            this.showAlert='success';
                            clearInterval(this.interval)
                            setTimeout(() => {   $("#exampleModal").modal("hide"); }, 4000);
                        }else{
                            this.showAlert='error';
                        }
                    }
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            copyUrl(){
                window.prompt("Copy to clipboard: Ctrl+C, Enter", 'https://www.msaniii.com/artist/'+this.message.uuid);
            },
            artist() {
                let uri =this.proxyUrl+`api/auth/artist/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.links=response.data.links;
                    this.message=response.data.artist;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            onChangePage(pageOfItems) {
                this.pageOfItems = pageOfItems;
            },

        }
    }
</script>
