<template>
    <div>
        <div class="container">
            <Navbar></Navbar>
            <div class="content">
                <div class="row justify-content-center  ">
                    <div class="col-sm-8">

                            <div class="card p-3">
                                <div class="d-flex flex-row justify-content-between text-align-center"> <img src="/images/mpesa2.png" style="width: 50%;margin-left: auto;margin-right: auto;opacity: 0.7;"> <i class="fa fa-ellipsis-v"></i> </div>
                                <p class="text-dark">For Artists</p>
                                <div class="card-bottom pt-3 px-3 mb-2">
                                    <div class="d-flex flex-row justify-content-between text-align-center">
                                        <div class="d-flex flex-column flex-column2"><span>Balance amount</span>
                                            <p>Ksh  <span class="text-white">{{formatPrice(message.balance)}}</span></p>
                                        </div> <button v-on:click="getWithdrawalCode()" class="btn btn-secondary"> Withdraw<i class="fa fa-arrow-right text-white ml-2"></i></button>
                                    </div>
                                </div>
                                <div v-if="display==='true'">
                                    <form v-on:submit.prevent="pushwithdrawal()">
                                    <div class="alert alert-info" role="alert">
                                       <p class="text-center">A six digit verification code has been sent to <b>{{info.phone}}</b>.Please enter the code</p>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input id="Full Name" v-model="message2.code" name="Full Name" placeholder="OTP code" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="number"  v-model="message2.amount" v-on:keyup="CalcultteCharges()" class="form-control"  id="inputEmail4" placeholder="Amount to withdraw" required>
                                    </div>
                                        <div class="container">
                                            <table class="table table-m">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="data in deductions">
                                                    <td>{{data.name}}</td>
                                                    <td>{{data.percent}}%</td>

                                                </tr>
                                                <tr>
                                                    <td>Deductions</td>
                                                    <td> Ksh.{{formatPrice(message2.charges)}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Withdrawal charges</td>
                                                    <td>Ksh.{{formatPrice(message2.withdraw_charges)}}</td>
                                                </tr>
                                                <tr class="text-success">
                                                    <td>Amount to receive</td>
                                                    <td>Ksh{{formatPrice(message2.amount_to_pay)}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-6">
                                            <input type="submit" class="fadeIn fourth" value="Request">
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message2:{charges:'0',amount_to_pay:'0',user_id:'',withdraw_charges:'0'},
                message:{balance:'0'},
                info:{phone:'',deduction:'0'},
                display:'false',
                deductions:[],
            }
        },
        created() {
                this.user();

        },
        methods: {
            CalcultteCharges(){
                if(this.message2.amount>=0 && this.message2.amount<=1000){
                    this.message2.withdraw_charges='25';
                }else{
                    this.message2.withdraw_charges='35';
                }
                    this.message2.charges=(+this.info.deduction * +this.message2.amount)/100;
                    this.message2.amount_to_pay=+this.message2.amount- +this.message2.charges-+this.message2.withdraw_charges;
            },
            getWithdrawalCode(){
                this.display='false';
                this.message2={charges:'0',amount_to_pay:'0',user_id:''};
                $('.content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getWithdrawalCode`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.info.phone=response.data.phone;
                        this.info.deduction=response.data.deduction;
                        this.display='true';
                        this.message2.user_id=response.data.user_id;
                        this.deductions=response.data.deductions;
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            pushwithdrawal(){
                $('.content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =`/api/auth/pushwithdrawal`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        setTimeout(() => {
                            this.$router.go();
                        }, 3000);
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'We are not able to submit your request.Please try again', type: 'error', position: 'top'});
                    }
                });
            },
            user(){
                let uri =this.proxyUrl+`api/auth/user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data.user;

                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
