<template>
    <div>
        <div class="container">
            <Navbar></Navbar>
            <div class="content">
                <div class="row justify-content-center  ">
                    <div class="col-sm-12">
                        <!-- Breadcrumb -->
                        <nav aria-label="breadcrumb" class="main-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Edit account info</a></li>
                                <router-link to="/profile/password" class="breadcrumb-item active" aria-current="page">Edit password</router-link>
                            </ol>
                        </nav>
                        <!-- /Breadcrumb -->

                        <div class="card">
                            <div class="card-body">
                                <form v-on:submit.prevent="update()">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input  v-model="message.name" name="Full Name" placeholder="Full Name" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email"  v-model="message.email" class="form-control"  id="inputEmail4" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input id="Mobile No." v-model="message.user_name" name="Mobile No." placeholder="Username (Will appear to fans)" class="form-control" required="required" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select id="inputState" v-model="message.gender" class="form-control select" required>
                                            <option> Male</option>
                                            <option> Female</option>
                                            <option> Transgender</option>
                                            <option>Gender neutral</option>
                                            <option>Non binary</option>
                                            <option>Prefer not to say</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-group col-md-6">
                                        <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <v-select label="name" placeholder="Select your area of artistry"  v-model="message.areas" :options="work_area" :reduce="work_area => work_area.name" multiple ></v-select>
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="form-group col-md-12">
                                        <textarea id="comment" name="comment" v-model="message.description"  rows="5" class="form-control textarea" placeholder="Brief description about yourself (Will appear to fans)" required></textarea>
                                    </div>
                                </div>
                                <p class="text-center">Social media profile links</p>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <input id="Full Name" v-model="message.facebook" name="Full Name" placeholder="Facebook link" class="form-control" type="text" >
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input id="Full Name" v-model="message.twitter" name="Full Name" placeholder="Twitter link" class="form-control" type="text" >
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input id="Full Name" v-model="message.instagram" name="Full Name" placeholder="Instagram link" class="form-control" type="text" >
                                    </div>
                                </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-4">
                                            <input type="submit" class="fadeIn fourth" value="Update">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                work_area:[
                    {name:'Songwriter '},
                    {name:'Producer'},
                    {name:'Instrumentalist '},
                    {name:'Singer '},
                    {name:'Rapper '},
                    {name:'Digital content creator '},
                    {name:'Choreographer '},
                    {name:'Photographer '},
                    {name:'Cinematographer '},
                    {name:'Others '},
                ],
                proxyUrl: process.env.MIX_APP_URL,
                message:{areas:[]},
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    require:true,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },

            }
        },
        created() {
                this.getData();

        },
        methods: {
            getData(){
                let uri =this.proxyUrl+`api/auth/user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data.user;
                    this.message.areas=response.data.areas;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            update(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateProfileInfo`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                     if(response.data.status){
                         this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                         this.getData();
                     }else{
                         this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                     }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
