<template>
    <div>
        <div class="container">
            <Navbar></Navbar>
            <div class="content">
                <div class="row justify-content-center  ">
                    <div class="col-sm-12">
                        <!-- Breadcrumb -->
                        <nav aria-label="breadcrumb" class="main-breadcrumb">
                            <ol class="breadcrumb">
                                <router-link to="/profile/edit" class="breadcrumb-item active" aria-current="page">Edit account info</router-link>
                                <router-link to="/profile/password" class="breadcrumb-item " ><a href="#">Edit password</a></router-link>
                            </ol>
                        </nav>
                        <!-- /Breadcrumb -->
                        <div class="card">
                            <div class="card-body">
                                 <form v-on:submit.prevent="update()">
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-8">
                                            <input id="Full Name" v-model="message.currentpass" name="Full Name" placeholder="Current password" class="form-control" type="password" required>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <input type="password"  v-model="message.password" class="form-control"  id="inputEmail4" placeholder="New password" required>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <input type="password"  v-model="message.repass" class="form-control"  id="inputEmail4" placeholder="Confirm password" required>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-4">
                                            <input type="submit" class="fadeIn fourth" value="Update">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {

        },
        methods: {

            update(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateProfilePassword`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
