<template>
    <div>
    <div class="container">
        <Navbar></Navbar>
        <div class="content">
            <div class="container">
                <div class="main-body">

                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="main-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                            <li class="breadcrumb-item  active" v-on:click="ShowConfirmModal()"><a href="#">Delete Account</a></li>
                        </ol>
                    </nav>
                    <!-- /Breadcrumb -->

                    <div class="row gutters-sm">
                        <div class="col-md-4 mb-3">
                            <div class="card card-profile">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img v-if="user.photo_url==='' || user.photo_url===null" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Photo" class="rounded-circle" width="150" height="150">
                                        <img v-else :src="proxyUrl+'storage/Photos/'+user.photo_url" alt="Photo" class="rounded-circle" width="150" height="150">

                                        <div class="mt-3">
                                            <h5>{{user.name}}</h5>
                                            <p class="text-secondary mb-1">{{user.user_type}}</p>
<!--                                            <button class="btn btn-primary">Follow</button>-->
                                            <label class="btn btn-outline-primary">
                                            <input type="file"  value="Update photo"  v-on:change="onFileChange"  accept="image/*" style="display:none;">
                                                Update photo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-3">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Previous</i>Links</h6>
                                    <br/>
                                    <div class="d-flex">
                                        <a href="#" class="mr-2 text-dark">Links  ({{links.length}})</a>
                                        <a href="#" class="mr-3" data-toggle="modal" data-target="#addlinks"><i class="fa fa-plus-square "></i> Add</a>
                                        <a href="#" data-toggle="modal" data-target="#editlinks"><i class="fa fa-edit"></i> Edit</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Full Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{user.name}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                           {{user.email}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{user.phone}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Balance</h6>
                                        </div>
                                        <div class="col-sm-9 text-success">
                                            Ksh.{{formatPrice(user.balance)}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Account status</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{user.status}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <router-link to="/profile/edit" class="btn btn-info mr-3" ><i class="fa fa-edit mr-1"></i>Edit</router-link>
                                            Copy Msaniii link
                                            <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Its hassle free. Support  '+user.user_name+' here'" :url="'https://www.msaniii.com/artist/'+user.uuid"  />
                                            <a class="fa fa-copy text-primary" v-on:click="copyUrl()"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row gutters-sm">
                                <div class="col-sm-6 mb-3">
                                    <div class="card ">
                                        <div class="card-body">
                                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Amount</i>Donated</h6>
                                           <h4>Ksh.{{formatPrice(donation)}}</h4>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="card ">
                                        <div class="card-body">
                                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Amount</i>Withdrawn</h6>
                                            <h4>Ksh.{{formatPrice(withdrawn)}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
            </div>






































<!--            <div class="row justify-content-center ">-->
<!--                <div class="col-sm-6">-->
<!--                <div class="card card-profile mb-2">-->
<!--                    <div class="top-content">-->
<!--                        <div class="top-bar">-->
<!--                            <div class="top-icon2">-->
<!--                                <i class=""> Background photo</i>-->
<!--                            </div>-->
<!--                            <div class="top-icon">-->
<!--                                <i class="fa fa-edit" v-on:click="showPhotoModal('background')"></i>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                        <div class="profile">-->
<!--                            <img v-if="user.bg_url==='' || user.bg_url===null" src="https://thumbs.dreamstime.com/b/default-avatar-photo-placeholder-profile-icon-eps-file-easy-to-edit-default-avatar-photo-placeholder-profile-icon-124557887.jpg">-->
<!--                            <img v-else :src="proxyUrl+'storage/Photos/'+user.bg_url">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="mid-content">-->
<!--                        <div class="info">-->
<!--                            <h5>{{user.user_name}}</h5>-->
<!--                            <span>Profile photo</span>-->

<!--                            <img v-if="user.photo_url==='' || user.photo_url===null" src="https://thumbs.dreamstime.com/b/default-avatar-photo-placeholder-profile-icon-eps-file-easy-to-edit-default-avatar-photo-placeholder-profile-icon-124557887.jpg"  class="avatar">-->
<!--                            <img v-else :src="proxyUrl+'storage/Photos/'+user.photo_url"  class="avatar">-->
<!--                            <div class="top-icon">-->
<!--                                <i class="fa fa-edit" v-on:click="showPhotoModal('profile')"></i>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;<button class="follow">Follow</button>&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="bottom-content">-->
<!--                        <button class="hire">Update profile</button>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--                <div class="col-sm-6">-->
<!--                    <div class="card card-profile p-5">-->
<!--                        <p><b>Full Name:</b>-->
<!--                            {{user.name}}-->
<!--                        </p>-->
<!--                        <br>-->
<!--                        <p><b>Bio:</b> {{user.description}}</p>-->
<!--                        <br>-->
<!--                        <div class="d-flex">-->
<!--                            <a href="#" class="mr-2 text-dark">Links  ({{links.length}})</a>-->
<!--                            <a href="#" class="mr-3" data-toggle="modal" data-target="#addlinks"><i class="fa fa-plus-square "></i> Add</a>-->
<!--                            <a href="#" data-toggle="modal" data-target="#editlinks"><i class="fa fa-edit"></i> Edit</a>-->
<!--                        </div>-->

<!--                        <br>-->
<!--                        <div class="mt-3 mb-3">-->
<!--                            Copy MSANIII link-->
<!--                            <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Its hassle free. Support  '+user.user_name+' here'" :url="'https://msaniii.com/artist/'+user.uuid"  />-->
<!--                            <a class="fa fa-copy text-primary" v-on:click="copyUrl()"></a>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;<div class="d-flex" v-if="sub_status>0">&ndash;&gt;-->
<!--                            &lt;!&ndash;<p> Status: <span class="text-success">{{sub.status}}</span></p>&ndash;&gt;-->
<!--                            &lt;!&ndash;<p class="ml-2">Expires <span class="text-success">{{sub.to_date}}</span></p>&ndash;&gt;-->
<!--                        &lt;!&ndash;</div>&ndash;&gt;-->

<!--                            &lt;!&ndash;<div v-if="sub_status<=0">&ndash;&gt;-->
<!--                                &lt;!&ndash;<div class="alert alert-danger" role="alert">&ndash;&gt;-->
<!--                                    &lt;!&ndash;<h6 class="alert-heading text-center">Subscription Expired <i class="fa fa-close"></i></h6>&ndash;&gt;-->
<!--                                    &lt;!&ndash;<p class="text-center"><a class="text-dark"  href="#" data-toggle="modal" data-target="#exampleModal">Click here to activate</a></p>&ndash;&gt;-->
<!--                                &lt;!&ndash;</div>&ndash;&gt;-->
<!--                            &lt;!&ndash;</div>&ndash;&gt;-->

<!--                        <div>-->
<!--                            <router-link to="/profile/edit" class="" href="#"><i class="fa fa-edit mr-1"></i>Edit Account info</router-link>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->
        </div>
        <!-- Modal -->
        <!-- Modal -->
        <div class="modal fade" id="editlinks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-center">Edit Links</h4>
                        <div class="row justify-content-center">
                            <div class="col-sm-10">card-profile
                        <div class="sidebar-item search-form">
                        <form action="#">
                            <input type="text"  v-model="message.filterval" v-on:keyup="filter()" placeholder="Filter links">
                            <button type="submit"><i class="icofont-filter"></i></button>
                        </form>
                        </div>
                        </div>
                        </div>
                        <hr>
                        <div class="row border mb-2" v-for="data in pageOfItems">
                        <div class="form-group col-md-5">
                            <input id="Full Name" v-model="data.title" name="Full Name" placeholder="Title of the work" class="form-control" type="text" required>
                        </div>
                        <div class="form-group col-md-5">
                            <input type="text"  v-model="data.url" class="form-control"  id="inputEmail4" placeholder="E.g Youtube URL etc" required>
                        </div>
                            <div class="form-group col-md-2">
                                <a class="btn text-primary " v-on:click="showEditLinkModal(data.id,data.title,data.url)"><i class="fa fa-edit"></i></a>
                                <a class="btn text-danger " v-on:click="deleteLink(data.id)"><i class="fa fa-trash"></i></a>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <jw-pagination :items="links" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <a class="btn btn-warning btn-block" >Submit</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="addlinks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-center">Add previous work links</h4>
                        <hr>
                        <div class="form-group col-md-12">
                            <label  for="Full Name">Work Title</label>
                            <input id="Full Name" v-model="message.title" name="Full Name" placeholder="Title of the work" class="form-control" type="text" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Work url</label>
                            <input type="text"  v-model="message.url" class="form-control"  id="inputEmail4" placeholder="E.g Youtube URL etc" required>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <a class="btn btn-warning btn-block" v-on:click="SaveLinks()">Submit</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
<!--        <div class="modal fade" id="photo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="photo">-->
<!--                        <img v-if="file_selected==='false'" src="https://thumbs.dreamstime.com/b/default-avatar-photo-placeholder-profile-icon-eps-file-easy-to-edit-default-avatar-photo-placeholder-profile-icon-124557887.jpg" alt="" class="avatar">-->
<!--                        <img v-else :src="attachments.url"  alt="" class="avatar">-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <div class="row justify-content-center">-->
<!--                            <div class="d-flex">-->
<!--                                <input type="file" class="form-control mr-2" v-on:change="onFileChange"  accept="image/*">-->
<!--                                <a class="btn btn-warning btn-block" v-on:click="updatePhoto()">Update</a>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

        <div class="modal fade" id="editlink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-center">Edit previous work links</h4>
                        <hr>
                        <div class="form-group col-md-12">
                            <label  for="Full Name">Work Title</label>
                            <input id="Full Name" v-model="link.title" name="Full Name" placeholder="Title of the work" class="form-control" type="text" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Work url</label>
                            <input type="text"  v-model="link.url" class="form-control"  id="inputEmail4" placeholder="E.g Youtube URL etc" required>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <a class="btn btn-warning btn-block" v-on:click="updateLinks()">Update</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-center">Delete Account?</h4>
                        <hr>
                       <h5>Are you sure you want to delete your account?</h5>
                        <p>NB:You will not be able sign in to access your account.But if you activate your account again,you will access your data.</p>

                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <a class="btn btn-warning btn-block" v-on:click="deleteAccount()">Yes,Delete</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                user:{},
                file_selected:'false',
                attachments:{},
                links:[],
                links2:[],
                showAlert:'false',
                pageOfItems:[],
                link:{id:'',url:'',title:''},
                donation:'o',
                withdrawn:'o',
            }
        },
        created() {
                this.profile();
        },
        methods: {
            ShowConfirmModal(){
                $("#delete").modal("show");
            },
            showEditLinkModal(id,title,url){
                this.link.id=id;
                this.link.url=url;
                this.link.title=title;
                $("#editlinks").modal("hide");
                $("#editlink").modal("show");
            },
            copyUrl(){
                window.prompt("Copy to clipboard: Ctrl+C, Enter", 'https://www.msaniii.com/artist/'+this.user.uuid);
            },
            showPhotoModal(action){
                this.message.action=action;
                $("#photo").modal("show");
            },
            deleteAccount(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/deleteAccount`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            deleteLink(id){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/deleteLink/${id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        $("#delete").modal("hide");
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                       this.profile();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            updateLinks(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateLinks`;
                this.axios.post(uri,this.link,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.profile();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            SaveLinks(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/saveLinks`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.message={};
                        this.profile();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            updatePhoto() {
                $('.card-profile').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updatePhoto`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card-profile').loader('hide');
                    if(response.data.status){
                        $("#photo").modal("hide");
                        this.profile();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card-profile').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            profile() {
                let uri =this.proxyUrl+`api/auth/user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.user=response.data.user;
                    this.donation=response.data.donation;
                    this.withdrawn=response.data.withdrawn;
                    this.file_selected='false';
                    this.links=response.data.links;
                    this.links2=response.data.links;

                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            onFileChange(e){
                this.attachments={};
                this.file_selected='true';
                let files = e.target.files[0];
                    let url = URL.createObjectURL(files);
                    this.attachments.url=url;
                    this.createBase64Image(files);
                setTimeout(()=>{
                    this.updatePhoto();
                },1000);

            },
            createBase64Image(fileObject){
                const reader=new FileReader();
                reader.onload=(e)=>{
                    this.message.file=e.target.result;
                };
                reader.readAsDataURL(fileObject);
            },
            initiateSubscriptionSTK2() {
                this.calcTime();
                this.message.amount='2';
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/initiateSubscriptionSTK2`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.showAlert='true';
                        this.message.CheckoutRequestID=response.data.CheckoutRequestID;
                        this.message.MerchantRequestID=response.data.MerchantRequestID;
                        this.interval = setInterval(() => this.checkSubscriptionStkPayment(), 5000);
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            checkSubscriptionStkPayment(){
                let uri =this.proxyUrl+`api/auth/checkSubscriptionStkPayment`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                        if(response.data.callback){
                            this.message.mpesa_ref=response.data.mpesa_ref;
                            this.showAlert='success';
                            clearInterval(this.interval)
                            setTimeout(() => {   $("#exampleModal").modal("hide"); }, 4000);
                            this.profile();
                        }else{
                            this.showAlert='error';
                        }

                    }
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            calcTime() {
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.message.from_date=dateTime;
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.links=this.links2;
                }else{
                    let ads =  this.links2.filter(function(product) {
                        return product.title.toLowerCase().includes(filterval.toLowerCase()) || product.url.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.links=ads;
                }
            },
            onChangePage(pageOfItems) {
                this.pageOfItems = pageOfItems;
            },

        }
    }
</script>
