<template>
    <div>
        <div class="container">
            <Navbar></Navbar>
            <div class="content">
                <div class="row justify-content-center  ">
                    <div class="col-sm-12">
                        <nav class="nav nav-pills nav-justified">
                            <router-link to="/logs/donations" class="nav-item nav-link " href="#">Donation Logs</router-link>
                            <router-link to="/logs/withdrawals" class="nav-item nav-link" href="#">Withdrawal logs</router-link>
                            <!--<a class="nav-item nav-link active" href="#">Subscription logs</a>-->
                        </nav>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Phone </th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Payment method</th>
                                    <th scope="col">Payment ref</th>
                                    <th scope="col">Payment date</th>
                                    <th scope="col">Active from</th>
                                    <th scope="col">Expiry at</th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data,index) in subs">
                                    <th scope="row">{{index+1}}</th>
                                    <td>{{data.phone}}</td>
                                    <td>Ksh {{formatPrice(data.amount)}}</td>
                                    <td>{{data.method}}</td>
                                    <td>{{data.mpesa_ref}}</td>
                                    <td>{{data.payment_date}}</td>
                                    <td>{{data.from_date}}</td>
                                    <td>{{data.to_date}}</td>
                                    <td v-if="data.status==='ACTIVE'" class="text-success">{{data.status}}</td>
                                    <td v-else class="text-danger">{{data.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                subs:[],
            }
        },
        created() {
            setTimeout(() => {
                this.subscriptions_logs();

            }, 1000);
        },
        methods: {
            subscriptions_logs(){
                $('.content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/subscriptions_logs`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.content').loader('hide');
                    this.subs=response.data.subs;

                }).catch(error => {
                    $('.content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
