<template>
    <div>
        <div class="container">
            <Navbar></Navbar>
            <div class="content">
                <div class="row justify-content-center ">
                    <div class="col-sm-8">
                        <canvas id="chLine"></canvas>
                    </div>
                    <div class="4">
                        <h6  class="mb-5 mt-5"><router-link to="/logs/donations" href="#" class="text-dark ">TRANSACTION LOGS</router-link></h6>
                        <h6 class="mb-5 mt-5"><router-link to="/account" href="#" class="text-dark ">ACCOUNT BALANCE</router-link></h6>
                        <h6 class="mb-5 mt-5"><router-link to="/account" href="#" class="text-dark ">WITHDRAW</router-link></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                info:{},
            }
        },
        created() {
                this.getData();
        },
        methods: {
            getData(){
                let uri =this.proxyUrl+`api/auth/getChatdata`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.info=response.data.data[0];
                    this.loadchart();
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            loadchart(){
                var chartData = {
                    labels: ["Jan", "Feb", "Mat", "Apr", "May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                    datasets: [{
                        label: 'This year donation',
                        data: [this.info.jan, this.info.feb, this.info.mar, this.info.april, this.info.may,this.info.jun,this.info.jul,this.info.aug,this.info.sep,this.info.oct,this.info.nov,this.info.dece],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    },]
                };


                var chLine = document.getElementById("chLine");
                if (chLine) {
                    new Chart(chLine, {
                        type: 'bar',
                        data: chartData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            },
                            legend: {
                                display: false
                            }
                        }
                    });
                }
            },
        }
    }
</script>
