<template>
    <div>
        <div class="container">
            <Navbar></Navbar>
            <div class="content">
                <div class="row justify-content-center  ">
                <div class="col-sm-12">

                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="main-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Income Logs</a></li>
                            <router-link to="/logs/withdrawals" class="breadcrumb-item active" aria-current="page">Withdrawal logs</router-link>
                        </ol>
                    </nav>
                    <!-- /Breadcrumb -->
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Phone </th>
                                <th scope="col">Amount</th>
                                <th scope="col">Payment method</th>
                                <th scope="col">Payment ref</th>
                                <th scope="col">Payment date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in pageOfItems">
                                <th scope="row">{{index+1}}</th>
                                <td>{{data.phone}}</td>
                                <td>Ksh {{formatPrice(data.amount)}}</td>
                                <td>{{data.method}}</td>
                                <td>{{data.mpesa_ref}}</td>
                                <td>{{data.updated_at}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <jw-pagination :items="logs" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                        </div>
                    </div>
            </div>

    </div>
        </div>
    </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                logs:[],
                pageOfItems:[],
            }
        },
        created() {
           this.donation_logs();
        },
        methods: {
            onChangePage(pageOfItems) {
                this.pageOfItems = pageOfItems;
            },
            donation_logs(){
                let uri =this.proxyUrl+`api/auth/donation_logs`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.logs=response.data.logs;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        }
    }
</script>
