<template>
    <div>
        <div class="container">
            <Navbar></Navbar>
            <div class="content">
                <div class="row justify-content-center  ">
                    <div class="col-sm-12">
                        <!-- Breadcrumb -->
                        <nav aria-label="breadcrumb" class="main-breadcrumb">
                            <ol class="breadcrumb">
                                <router-link to="/logs/donations" class="breadcrumb-item active" aria-current="page">Income Logs</router-link>
                                <li  class="breadcrumb-item " ><a href="#">Withdrawal logs</a></li>
                            </ol>
                        </nav>
                        <!-- /Breadcrumb -->
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Phone</th>
                                    <th >Amount</th>
                                    <th >Other Charges</th>
                                    <th >Withdrawal Charges</th>
                                    <th >Amount sent</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">REF</th>
                                    <th scope="col">Payment date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data,index) in pageOfItems">
                                    <th scope="row">{{index+1}}</th>
                                    <td>{{data.phone}}</td>
                                    <td class="text-success">Ksh.{{formatPrice(data.amount)}}</td>
                                    <td>Ksh.{{formatPrice(data.charges)}}</td>
                                    <td>Ksh.{{formatPrice(data.withdraw_charges)}}</td>
                                    <td class="text-success">Ksh.{{formatPrice(data.amount_to_pay)}}</td>
                                    <td>{{data.status}}</td>
                                    <td>{{data.TransactionID}}</td>
                                    <td>{{data.created_at}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <jw-pagination :items="logs" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import  Navbar from '../view/navbar'
export default {
    name: 'App',
    components: {
        Navbar
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
            logs:[],
            pageOfItems:[],
        }
    },
    created() {
        this.withdrawal_logs();
    },
    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
        withdrawal_logs(){
            let uri =this.proxyUrl+`api/auth/withdrawal_logs`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.logs=response.data.logs;
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
    }
}
</script>
